*{
padding:0px;
margin:0px;
}

#main {

border:2px solid red;
background:orange;
width:720px;

}

#top{
width:100%;
height:400px;
}

#bottom{

width:100%;
height:300px;
}

#left{
float:left;
border:2px solid blue;
width:20%;
height:200px;
margin-top:60px;
margin-left:75px;
padding:10px;
color:blue;

}

#right{
float:left;
border:2px solid blue;
width:20%;
height:200px;
margin-top:60px;
margin-left:225px;
padding:10px;
color:blue;
}

#one{
float:left;
border:2px solid red;
width:15%;
height:42%;
margin:10px;
padding:5px;
color:white;

font-size:20px ;
}


#two{
float:left;
border:2px solid red;
width:15%;
height:42%;
margin:10px;
padding:5px;
color:red;

font-size:20px ;
}

#three{
float:left;
border:2px solid red;
width:15%;
height:42%;
margin:10px;
padding:5px;
color:black;

font-size:20px ;

}

#four{
float:left;
border:2px solid red;
width:15%;
height:42%;
margin:10px;
padding:5px;
color:blue;
font-size:20px ;
}

#five{
float:left;
border:2px solid red;
width:15%;
height:42%;
margin:10px;
padding:5px;
color:green;

font-size:20px ;
}
