<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="flames.css">


</head>
<body>
<div id="main">

<div id="top">
<div id="left"> NAME 1 </div>
<div id="right"> NAME 2 </div>
</div>

<div id="bottom">
<div id="one"><img src="frnds2.jpg" width="106px" height="100px"><center> FRIENDS</center></div>
<div id="two"><img src="heart.jpg" width="106px" height="100px"><center> LOVE </center></div>
<div id="three"><img src="affair.jpg" width="106px" height="100px"><center> AFFAIR </center></div>
<div id="four"> <img src="m1.jpg" width="106px" height="100px"><center> MARRIAGE </center></div>
<div id="five"> <img src="enemies.jpg" width="106px" height="100px"><center> ENEMIES </center></div>
</div>

</div>


</body>
</html>