<!DOCTYPE html>
<html lang="en">
<head>

<title>flames</title>
<meta charset="utf-8">
<link href="{{url_for('static', filename='css/token-input.css')}}"  rel="stylesheet">
<link href="{{url_for('static', filename='css/bootstrap.css')}}"  rel="stylesheet">
<link href="{{url_for('static', filename='css/flames.css')}}"  rel="stylesheet">
<link href="{{url_for('static', filename='css/token-input-facebook.css')}}"  rel="stylesheet">


<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap1.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/jquery.tokeninput.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function() {
		function handler(item) {
			$('#first_image').attr('src', 'https://graph.facebook.com/'+item.id+'/picture?type=large');
		}
		
		function second_handler(item) {
			$('#second_image').attr('src', 'https://graph.facebook.com/'+item.id+'/picture?type=large');
		}
		
		var options = {
			queryParam: 'tag',
			minChars: 2,
			tokenLimit: 1,
			theme: 'facebook',
			resultsLimit: 5,
			onAdd: handler,
		};
		
		var second_option = {
			queryParam: 'tag',
			minChars: 2,
			tokenLimit: 1,
			theme: 'facebook',
			resultsLimit: 5,
			onAdd: second_handler,
		};
		
        $("#firstuser").tokenInput("{{url_for('ajax_friends')}}", options);
		$("#seconduser").tokenInput("{{url_for('ajax_friends')}}", second_option);
		$('#myModal').live('hide',function()
		        {
		         $('.modal-header').html("Please wait while the results are loading...");
				 $('#modalimage').animate({
						height:100,
						width:100,
						src:"{{url_for('static', filename='img/ajax-loader.gif')}}",
					});
				 
		        
		});
		$('#myModal').live('show', function() {
			$.ajax({
				url: "{{url_for('get_flame')}}",
				data: {'first': $("#firstuser").val(), 'second': $("#seconduser").val()},
				dataType: 'json',
				success: function (data){
					$('.modal-header').html("Your Result:"+data.message);
					$('#modalimage').animate({
						height:400,
						width:400,
					});
				}, 
			})
		});
    });
    </script>

</head>

<body>

<div class="wrapper">

<div class="row">

<div class="span7">
<img src="" id="first_image" height="160" width="160" border="4" align="right">
</div>
<div class="span1">
<p>    &nbsp; </p>
</div>
<div class="span7">
<img src="" id="second_image" height="160" width="160" border="4" align="left">
</div>
</div>
<div class="row">

<div class="span4a">
<p>    &nbsp; </p>
</div>

<div class="span4b">
<div class="well-small">

<div>
        <input type="text" id="firstuser"/>
    </div>
</div>

</div>
<div class="span1">
<p>    &nbsp;</p>
</div>

<div class="span6">
<div class="well-small">
<input type="text" class="span3" placeholder="Second Name"id="seconduser" >
</div>

</div>
<div class="span1">
<p>    &nbsp;</p>
</div>

</div>
<div class="row">

<div class="span6">
<p>
&nbsp; </p>
</div>

<div class="span9">
<div class="modal hide" id="myModal">
  <div class="modal-header">
    
Please wait while the results are loading...
  </div>
  <div class="modal-body">
    <img id="modalimage" src="{{url_for('static', filename='img/ajax-loader.gif')}}" height="100" width="100" align="center">
  </div>
  <div class="modal-footer">
  <a href="#" class="btn btn-primary" >Share</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>

  </div>
</div>
<a class="btn btn-large btn-danger" data-toggle="modal" href="#myModal">CHECK</a>

</div>
</div>

<div class="row">
<div class="span5">
<img src="{{url_for('static', filename='img/f.jpg')}}"  height="160" width="160" border="4" align="left" >
</div>
<div class="span5" align="center">
<img src="{{url_for('static', filename='img/l.jpg')}}" height="160" width="160" border="4" >
</div>
<div class="span5">
<img src="{{url_for('static', filename='img/a.jpg')}}" height="160" width="160" border="4" align="right">
</div>

</div>
<div class="row">
<div class="span6" >
<img src="{{url_for('static', filename='img/m.jpg')}}"  height="160" width="160" border="4" align="right" >
</div>
<div class="span3" >
<p> &nbsp; </p>
</div>
<div class="span6">
<img src="{{url_for('static', filename='img/e.jpg')}}" height="160" width="160" border="4" align="left">
</div>

</div>


</div>




</body>
</html>