<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	<script>
	$(function()
	{
	$('.dropdown-toggle').dropdown()
	})

	</script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


  </head>

  <body>
  <div class="container">
 <!-- Example row of columns -->
 <div class="row">
 <div class="span6">
<img src="" height="180"   width="194" border="4" align="left">
 
 </div>
 <div class="span6">
 <img src="" height="180"   width="194" border="4" align="right">
 </div>
 </div>
 
      <div class="row">
        <div class="span6a">

           <li class="dropdown" id="menu2">
<a class="dropdown-toggle" data-toggle="dropdown" href="#menu2">
 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
SELECT PERSON 1
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
{% for friend in friends %}
<li><a href="#">{{ friend.name }}</a></li>
{% endfor %}
</ul>
</li> 

        </div>
		
        <div class="span6b">
		<li class="dropdown" id="menu1">
<a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">

SELECT PERSON 2
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>

<li><a href="#">Separated link</a></li>
</ul>
</li>

           
          
       



      <footer>
 
      </footer>

    </div> <!-- /container -->
</div>
<div class="row">
<div class="span4">
<h1> &nbsp </h1>
</div>
<div class="span4">
<br>
<br>



           <a class="btn btn-large btn-danger" href="http://twitter.github.com/bootstrap/base-css.html#buttons">CHECK</a>
  
   
        
        </div>
		<div class="span4">
		<h1> &nbsp </h1>
		</div>
</div>
  </div>

  </body>
</html>
